
<div class="page-header header-home">
	<div class="container">
		<div class="col-md-1"></div>
		<div class="col-md-10">
    <br><img src="/assets/Tealeaf Logo sm.png" alt="IBM Tealeaf" align="left">
		<h4><b>Hello, and welcome to the new home of the Tealeaf Analytics blog.</b> 
		My intent is to have this blog replace the Tealeaf Analytics blog on Blogspot.com, 
		so I have duplicated the articles here. Any new articles will be posted here instead
		of blogspot. </h4>
    </div>
	</div>
</div>

<div class='container'>

<!-- Column 1 -->
	<div class='col-md-4'>
		<div class='panel panel-default'>
			<div class="panel-heading"><h3 class="panel-title">Analysis Paralysis</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'The process of over-analyzing or over-thinking a situation to the point at which
				an action or decision is never taken.', "blog/analysis_paralysis" %>
				<span class="badge pull-right">12-04-2012</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
			<div class="panel-heading"><h3 class="panel-title">Tealeaf Version 8 - Review</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'A Multi-User Review of Tealeaf Version 8: Tealeaf version 8 was a significant 
				update to the software suite and is a major improvement...', "blog/tealeaf_version_8_review" %>
				<span class="badge pull-right">07-21-2012</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
			<div class="panel-heading"><h3 class="panel-title">Why you should keep single-hit sessions</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'I am going to cover some simple steps that will help you get rid of a good portion 
				of the single-hit sessions on your Tealeaf...', "blog/why_you_should_keep_single_hit_sessions" %>
				<span class="badge pull-right">10-31-2011</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
			<div class="panel-heading"><h3 class="panel-title">Session Discard Events for Bots</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'In the final method, we use events to remove teh Bot sessions from the processing/canister 
				server before they are stored...', "blog/session_discard_events_for_bots" %>
				<span class="badge pull-right">10-18-2011</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
			<div class="panel-heading"><h3 class="panel-title">How to use Tealeaf to Analyze your Bot/Crawler/Spider Traffic</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'The question you should be asking yourself with Bot/Crawlers/Spiders (Bots) is, 
				what actionable insights are you driving...', "blog/how_to_use_tealeaf_to_analyze_bot_traffic" %>
				<span class="badge pull-right">10-17-2011</span></p>
			</div>	
		</div>

	</div>

<!-- Column 2 -->
	<div class='col-md-4'>
		<div class='panel panel-default'>
		<div class="panel-heading"><h3 class="panel-title">Tealeaf/SiteCatalyst Integration</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'Tealeaf and SiteCatalyst collect similar data, but to understand why you would want
				to integrate these two systems, you need to understand the differences...', "blog/tealeaf_sitecatalyst_integration" %>
				<span class="badge pull-right">10-26-2012</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
		<div class="panel-heading"><h3 class="panel-title">What are you doing with all that data?</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'The amount of data a complany can collect with a single tool like Tealeaf is
				staggering. Add to this the fact that most...', "blog/what_are_you_doing_with_all_that_data" %>
				<span class="badge pull-right">10-3-2012</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
		<div class="panel-heading"><h3 class="panel-title">How to Capture Clicks to External Links</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'How do you capture clicks to external site links in Tealeaf if you are not using 
				the UI SDK? Well, the first thing I would ask...', "blog/how_to_capture_clicks_to_external_links" %>
				<span class="badge pull-right">10-26-2011</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
		<div class="panel-heading"><h3 class="panel-title">DataDrop rules for Bot Traffic</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'The second option to drop Bot traffic is by utilizing the DataDrop pipeline agent 
				on your Processing/Canister server.', "blog/datadrop_rules_for_bot_traffic" %>
				<span class="badge pull-right">10-18-2011</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
		<div class="panel-heading"><h3 class="panel-title">Monitoring your Tealeaf Environment</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'What do you use to monitor your Tealeaf environment? The simplest and most 
				comprehensive way to monitor your entire Tealeaf environment is...', "blog/monitoring_your_tealeaf_environment" %>
				<span class="badge pull-right">10-11-2011</span></p>
			</div>	
		</div>

	</div>

<!-- Column 3 -->
	<div class='col-md-4'>
		<div class='panel panel-default'>
		<div class="panel-heading"><h3 class="panel-title">Software or People - What is more important?</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'Is it more important to have the right tools or the right people?', "blog/software_or_people_what_is_more_important" %>
				<span class="badge badge-sm pull-right">10-11-2012</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
		<div class="panel-heading"><h3 class="panel-title">Why Integrate?</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'Predictive analytics is the process of analyzing current and historical facts 
				to make predictions about future events.', "blog/why_integrate" %>
				<span class="badge badge-sm pull-right">01-03-2012</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
		<div class="panel-heading"><h3 class="panel-title">Using the Tealeaf Bot Dashboard to Analyze Traffic</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'Tealeaf Analysis - Bot Dashboard (Tealeaf v7.x) - Tealeaf has a number of templates 
				availablef or version 7.x that can be imported into...', "blog/using_the_tealeaf_bot_dashboard_to_analyze_traffic" %>
				<span class="badge badge-sm pull-right">10-21-2011</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
		<div class="panel-heading"><h3 class="panel-title">DropHit Rules for Bot Traffic</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'Method 1 utilizes DropHit rules in the privacy.cfg file on the Passive Capture 
				Appliance (PCA).', "blog/drophit_rules_for_bot_traffic" %>
				<span class="badge badge-sm pull-right">10-18-2011</span></p>
			</div>	
		</div>

		<div class='panel panel-default'>
		<div class="panel-heading"><h3 class="panel-title">The Visitor and the Visit</h3></div>
			<div class='panel-body'>
				<p><%= link_to 'Why care about the visitor and the visit? Simply put, if you don\'t care about 
				the visitor and visit when analyzing...', "blog/the_visitor_and_the_visit" %>
				<span class="badge badge-sm pull-right">10-07-2011</span></p>
			</div>	
		</div>

	</div>

</div>

<br>



<br><%= render 'layouts/navbar_blog' %>